<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lurenman.drawabledemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BitmapDrawableActivity" />
        <activity android:name=".activity.ShapeDrawableActivity" />
        <activity android:name=".activity.LayerDrawableActivity" />
        <activity android:name=".activity.LevelListDrawableActivity" />
        <activity android:name=".activity.TransitionDrawableActivity" />
        <activity android:name=".activity.InsetDrawableActivity" />
        <activity android:name=".activity.ScaleDrawableActivity" />
        <activity android:name=".activity.ClipDrawableActivity" />
        <activity android:name=".activity.ColorDrawableActivity" />
    </application>

</manifest>